# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv(url, delimiter='\t')

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [7]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [13]:
# need to cast item_price to float
chipo['item_price'] = chipo.item_price.str.replace('$', '').str.strip().astype('float')

/var/folders/pd/dk0dsnvs72ng9hv5mkv2d0980000gn/T/ipykernel_34511/930430296.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo.item_price.str.replace('$', '').str.strip().astype('float')

In [14]:
chipo['indiv_item_price'] = chipo.item_price / chipo.quantity
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,indiv_item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [15]:
# might as well replace those NaNs too
chipo.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
indiv_item_price         0
dtype: int64

In [20]:
chipo.fillna('no_choice', inplace=True)

In [22]:
chipo.isna().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
indiv_item_price      0
dtype: int64

- Ok, now how many products cost more than $10?

In [24]:
chipo[chipo.indiv_item_price > 10].shape[0]

1034

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [29]:
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name','choice_description'])

In [32]:
# print dataframe showing item_name and indiv_item_price
chipo_price_list = chipo_filtered[['item_name', 'choice_description', 'indiv_item_price']]

In [46]:
# I want to see the more output of this so changing options
pd.set_option('display.max_rows', 100)
chipo_price_list.groupby(['item_name', 'choice_description']).max().head(100)

                                                                      indiv_item_price
item_name         choice_description
6 Pack Soft Drink [Coke]                                                          6.49
                  [Diet Coke]                                                     6.49
                  [Lemonade]                                                      6.49
                  [Nestea]                                                        6.49
                  [Sprite]                                                        6.49
Barbacoa Bowl     [Fresh Tomato (Mild), [Lettuce, Black Beans, Ri...              8.69
                  [Fresh Tomato (Mild), [Lettuce, Rice, Cheese]]                  8.69
                  [Fresh Tomato Salsa (Mild), [Black Beans, Rice,...             11.48
                  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour...              8.99
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...             11.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...              9.25
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...             11.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...              9.25
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...              9.25
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...             11.75
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...             11.75
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...              9.25
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]               9.25
                  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto ...              9.25
                  [Fresh Tomato Salsa, [Rice, Black Beans, Sour C...              9.25
                  [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...             11.75
                  [Fresh Tomato Salsa, [Rice, Fajita Vegetables, ...              9.25
                  [Guacamole]                                                    11.49
                  [Roasted Chili Corn Salsa, [Cheese, Lettuce]]                   9.25
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...             11.75
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...             11.75
                  [Roasted Chili Corn Salsa, [Pinto Beans, Sour C...             11.75
                  [Roasted Chili Corn Salsa, [Rice, Black Beans, ...              9.25
                  [Roasted Chili Corn Salsa, [Rice, Cheese, Lettu...              9.25
                  [Roasted Chili Corn Salsa]                                      9.25
                  [Tomatillo Green Chili Salsa, [Fajita Vegetable...             11.75
                  [Tomatillo Green Chili Salsa, [Fajita Vegetable...             11.75
                  [Tomatillo Green Chili Salsa, [Rice, Cheese, Gu...             11.75
                  [Tomatillo Red Chili Salsa, [Black Beans, Chees...             11.75
                  [Tomatillo Red Chili Salsa, [Cheese, Sour Cream...             11.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...             11.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...             11.75
                  [Tomatillo Red Chili Salsa, [Rice, Black Beans,...              9.25
                  [Tomatillo Red Chili Salsa, [Rice, Black Beans,...              9.25
                  [Tomatillo Red Chili Salsa, [Rice, Black Beans,...              9.25
                  [Tomatillo Red Chili Salsa, [Rice, Cheese, Lett...              9.25
                  [Tomatillo Red Chili Salsa, [Rice, Fajita Veget...             11.75
                  [Tomatillo Red Chili Salsa, [Rice, Fajita Veget...              9.25
                  [Tomatillo Red Chili Salsa, [Rice, Pinto Beans,...              9.25
                  [Tomatillo Red Chili Salsa]                                     9.25
                  [Tomatillo-Green Chili Salsa (Medium), [Black B...             11.48
                  [Tomatillo-Red Chili Salsa (Hot), [Black Beans,...              8.99
                  [[Rice, Cheese]]                                                8.69
                  [[Roasted Chili Corn Salsa (Medium), Tomatillo-...              8.99
                  [[Tomatillo-Green Chili Salsa (Medium), Roasted...             11.48
                  [[Tomatillo-Green Chili Salsa (Medium), Roasted...             11.48
                  [[Tomatillo-Green Chili Salsa (Medium), Tomatil...              8.99
                  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...              8.99
                  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...              8.99
Barbacoa Burrito  [Fresh Tomato (Mild), [Black Beans, Rice, Sour ...              8.69
                  [Fresh Tomato (Mild), [Guacamole, Rice, Black B...             11.08
                  [Fresh Tomato Salsa (Mild), [Black Beans, Rice,...             11.48
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...             11.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...              9.25
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...             11.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...              9.25
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...             11.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...              9.25
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...              9.25
                  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese...              9.25
                  [Fresh Tomato Salsa, [Rice, Cheese]]                            9.25
                  [Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese...              9.25
                  [Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese...              9.25
                  [Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese]]               9.25
                  [Fresh Tomato Salsa, [Rice, Pinto Beans, Guacam...             11.75
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...              8.99
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...              8.99
                  [Roasted Chili Corn Salsa (Medium), [Rice, Faji...              8.99
                  [Roasted Chili Corn Salsa, [Black Beans, Cheese...              9.25
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...             11.75
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...             11.75
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...              9.25
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...              9.25
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...             11.75
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...             11.75
                  [Roasted Chili Corn Salsa, [Rice, Black Beans, ...             11.75
                  [Roasted Chili Corn Salsa, [Rice, Black Beans, ...             11.75
                  [Roasted Chili Corn Salsa, [Rice, Black Beans, ...              9.25
                  [Roasted Chili Corn Salsa, [Rice, Black Beans, ...              9.25
                  [Roasted Chili Corn Salsa, [Rice, Black Beans, ...              9.25
                  [Roasted Chili Corn Salsa, [Rice, Cheese, Sour ...              9.25
                  [Roasted Chili Corn Salsa, [Rice, Pinto Beans, ...             11.75
                  [Roasted Chili Corn Salsa, [Rice, Pinto Beans, ...             11.75
                  [Roasted Chili Corn Salsa, [Rice, Pinto Beans, ...             11.75
                  [Roasted Chili Corn Salsa, [Rice, Pinto Beans, ...              9.25
                  [Roasted Chili Corn Salsa, [Rice, Pinto Beans, ...              9.25
                  [Roasted Chili Corn Salsa, [Rice, Pinto Beans, ...              9.25
                  [Roasted Chili Corn Salsa]                                      9.25
                  [Tomatillo Green Chili Salsa, [Fajita Vegetable...              9.25
                  [Tomatillo Green Chili Salsa, [Rice, Black Bean...              9.25
                  [Tomatillo Green Chili Salsa, [Rice, Black Bean...              9.25
                  [Tomatillo Green Chili Salsa, [Rice, Black Bean...              9.25
                  [Tomatillo Green Chili Salsa, [Rice, Fajita Veg...              9.25
                  [Tomatillo Green Chili Salsa, [Rice, Pinto Bean...             11.75
                  [Tomatillo Green Chili Salsa]                                   9.25

In [47]:
pd.reset_option('display.max_rows')

### Step 6. Sort by the name of the item

In [48]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,indiv_item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [51]:
chipo[chipo.item_price == chipo.item_price.max()][['item_name', 'quantity', 'item_price']]

                         item_name  quantity  item_price
3598  Chips and Fresh Tomato Salsa        15       44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [56]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum(), \
chipo[chipo.item_name == 'Veggie Salad Bowl'][['order_id', 'quantity', 'item_name']]

(18,
       order_id  quantity          item_name
 186         83         1  Veggie Salad Bowl
 295        128         1  Veggie Salad Bowl
 455        195         1  Veggie Salad Bowl
 496        207         1  Veggie Salad Bowl
 960        394         1  Veggie Salad Bowl
 1316       536         1  Veggie Salad Bowl
 1884       760         1  Veggie Salad Bowl
 2156       869         1  Veggie Salad Bowl
 2223       896         1  Veggie Salad Bowl
 2269       913         1  Veggie Salad Bowl
 2683      1066         1  Veggie Salad Bowl
 3223      1289         1  Veggie Salad Bowl
 3293      1321         1  Veggie Salad Bowl
 4109      1646         1  Veggie Salad Bowl
 4201      1677         1  Veggie Salad Bowl
 4261      1700         1  Veggie Salad Bowl
 4541      1805         1  Veggie Salad Bowl
 4573      1818         1  Veggie Salad Bowl)

### Step 9. How many times did someone order more than one Canned Soda?

In [67]:
# since this actually shows purchases of two sodas only if they were the same kind
# and the question asks for the total number in an order without regard to kind
# need to group these by order and sum the quantities
order_groups = chipo.groupby(['order_id', 'item_name']).sum()
order_groups[(order_groups.index.get_level_values('item_name') == 'Canned Soda') & (order_groups.quantity > 1)].shape[0], \
order_groups[(order_groups.index.get_level_values('item_name') == 'Canned Soda') & (order_groups.quantity > 1)][['quantity']]

(24,
                       quantity
 order_id item_name
 9        Canned Soda         2
 23       Canned Soda         2
 73       Canned Soda         2
 76       Canned Soda         2
 81       Canned Soda         2
 108      Canned Soda         3
 150      Canned Soda         2
 151      Canned Soda         2
 287      Canned Soda         2
 288      Canned Soda         2
 376      Canned Soda         2
 450      Canned Soda         4
 496      Canned Soda         2
 787      Canned Soda         3
 859      Canned Soda         2
 901      Canned Soda         4
 1156     Canned Soda         4
 1258     Canned Soda         2
 1349     Canned Soda         2
 1396     Canned Soda         2
 1434     Canned Soda         2
 1440     Canned Soda         2
 1484     Canned Soda         2
 1550     Canned Soda         2)

In [78]:
# method 2
# filter to rows with cannned soda
filtered = chipo[chipo.item_name == 'Canned Soda']
cans_by_order = filtered.groupby('order_id').sum()
more_than_one_can = cans_by_order[cans_by_order.quantity > 1]
total_orders = chipo.order_id.nunique()
print(f'There were {len(more_than_one_can)} orders with more than one can of soda.')
print(f'This was {(len(more_than_one_can) / total_orders):.2%} of all orders.')
more_than_one_can

There were 24 orders with more than one can of soda.
This was 1.31% of all orders.

          quantity  item_price  indiv_item_price
order_id
9                2        2.18              1.09
23               2        2.18              1.09
73               2        2.18              1.09
76               2        2.18              1.09
81               2        2.18              2.18
108              3        3.27              3.27
150              2        2.18              1.09
151              2        2.18              1.09
287              2        2.18              1.09
288              2        2.18              1.09
376              2        2.18              1.09
450              4        4.36              2.18
496              2        2.18              2.18
787              3        3.27              2.18
859              2        2.18              1.09
901              4        4.36              1.09
1156             4        4.36              2.18
1258             2        2.18              1.09
1349             2        2.18              1.09
1396             2        2.18              2.18
1434             2        2.18              2.18
1440             2        2.18              1.09
1484             2        2.18              2.18
1550             2        2.18              1.09

In [77]:
more_than_one_can / total_orders

          quantity  item_price  indiv_item_price
order_id
9         0.001091    0.001189          0.000594
23        0.001091    0.001189          0.000594
73        0.001091    0.001189          0.000594
76        0.001091    0.001189          0.000594
81        0.001091    0.001189          0.001189
108       0.001636    0.001783          0.001783
150       0.001091    0.001189          0.000594
151       0.001091    0.001189          0.000594
287       0.001091    0.001189          0.000594
288       0.001091    0.001189          0.000594
376       0.001091    0.001189          0.000594
450       0.002181    0.002377          0.001189
496       0.001091    0.001189          0.001189
787       0.001636    0.001783          0.001189
859       0.001091    0.001189          0.000594
901       0.002181    0.002377          0.000594
1156      0.002181    0.002377          0.001189
1258      0.001091    0.001189          0.000594
1349      0.001091    0.001189          0.000594
1396      0.001091    0.001189          0.001189
1434      0.001091    0.001189          0.001189
1440      0.001091    0.001189          0.000594
1484      0.001091    0.001189          0.001189
1550      0.001091    0.001189          0.000594

In [76]:
type(total_orders)

int